################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AliasAnyTypeDemo/bin/Debug/net8.0
/AliasAnyTypeDemo/obj
/CodeSamples/.vs
/CodeSamples/bin/Debug
/CodeSamples/obj
/CodeTests/bin/Debug/net8.0
/CodeTests/obj
/CollectionExpressionsDemo/obj
/DataAnnotationsDemo/bin/Debug/net8.0
/DataAnnotationsDemo/obj
/DefaultLambdaParameters/bin/Debug/net8.0
/DefaultLambdaParameters/obj
/ExceptionHandlingDemo/bin/Debug/net8.0
/ExceptionHandlingDemo/obj
/ExperimentalAttributeDemo/bin/Debug/net8.0
/ExperimentalAttributeDemo/obj
/InterceptorDemo/bin/Debug/net8.0
/InterceptorDemo/obj
/KeyedDemo/bin/Debug/net8.0
/KeyedDemo/obj
/KeyedDemoMinimal/bin/Debug/net8.0
/KeyedDemoMinimal/obj
/NativeAOTDemo/bin
/NativeAOTDemo/obj
/NewAuthDemo/bin/Debug/net8.0
/NewAuthDemo/obj
/OptionsValidatorDemo/bin/Debug/net8.0
/OptionsValidatorDemo/obj
/PrimaryConstructorsDemo/bin/Debug/net8.0
/PrimaryConstructorsDemo/obj
/RefReadonlyParametersDemo/bin/Debug
/RefReadonlyParametersDemo/obj
/WebApiStuff/bin/Debug/net8.0
/WebApiStuff/obj
